# OS-specific
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Gradle and Build Files
build/
app/build/
.gradle/
local.properties

# IDE Configs
/.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/vcs.xml
.idea/navEditor.xml
.idea/codeStyles/
*.iml
*.iws

# Test Configs and results
test-results/

# Log Files
*.log
